{#
/**
 * @file
 * NjalaAPP's theme implementation to display a Service node in teaser tile view mode.
 */
#}
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
{{ attach_library('njalaapp/node-view-mode-teaser-tile-image') }}
<article{{ attributes.addClass(classes) }}>
  <div class="teaser-tile-image-container">
    {{ title_prefix }}
    {{ title_suffix }}
    {% if content.field_tp_pst_image|render %}
      {% block featured_post %}
        {{ content.field_tp_pst_image }}
      {% endblock %}
    {% endif %}

    <div class="teaser-tile-image__caption">
      {% if content.field_tp_pst_category|render %}
        {{ content.field_tp_pst_category }}
      {% endif %}

      {% if not page %}
        <h4{{ title_attributes.addClass("my-0") }}>
          <a href="{{ url }}" rel="bookmark">{{ label }}</a>
        </h4>
      {% endif %}
    </div>
  </div>
  <div{{ content_attributes.addClass('node__content') }}>
    {{ content|without('field_tp_pst_image', 'field_tp_pst_category') }}
  </div>

</article>
